body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    min-width: 40%;
}

form {
    display: grid;
    grid-template: repeat(7, 1fr) / 2fr 1fr 2fr;
}

#username-block {
    grid-area: 1 / 1 / 2 / 2;
}

#email-block {
    grid-area: 1 / 3 / 2 / 4;
}

#password-block {
    grid-area: 3 / 1 / 4 / 2;
}

#repeat-password-block {
    grid-area: 3 / 3 / 4 / 4;
}

#cv-block {
    grid-area: 5 / 1 / 6 / 4;
}

#register {
    grid-area: 7 / 2 / 8 / 3;
    width: 80%;
    color: white;
    font-size: 1em;
    background: #3973e6;
    border: none;
    border-radius: 5px;
}

#cv {
    width: 93%;
}

.input-block {
    padding-left: 20px;
}

input[type='text'], input[type='password']{
    height: 2em;
    width: 80%;
}